* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mnav {
    display: flex;
    flex-direction: row;
    background-color: deepskyblue;
    color: crimson;
    padding: 0 10em;
    font-size: 24px;
    font-weight: bold;
}

.mnav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin: 1em 2em;
}

.norm a:hover {
    color: gold;
}

.norm a {
    text-decoration: none;
    color: crimson;
}

.norm {
    padding-top: 1.2em;
}

.logo  {
    display: flex;
    justify-content: flex-start;
    color: #f9faf8;
    margin-right: auto;
    font-size: larger;
    height: 75px;
    width: 75px;
}

.hero {
    background-color: black;
    clear: both;
    height: 800px;
    padding: 7em 15em;
}

.word {
    display: inline;
    margin-right: 3em;
}

.word h1 {
    font-size: 48px;
    font-weight: bolder;
    color: gold;
}

.word p {
    font-size: 24px;
    color: #e5e7eb;
    margin-right: 2em;
    padding: 1em 0;
}

.hero img {
    float: right;
    width: 700px;
    height: 350px;
    margin-left: 7em;
}

.hero input {
    background-color: #3882f6;
    border: solid #3882f6;
    color: white;
    border-radius: 5px;
    margin: 0 5em;
}

.hero a {
    color: gold;
    font-size: larger;
}

#rando {
    padding: 5em;
    background-image: linear-gradient(deepskyblue, ghostwhite);
}

#rando h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

#rando img {
    border: gold solid 5px;
    border-radius: 10%;
    height: 400px;
    width: 300px;
}

#rando div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#rando figure {
    display: flex;
    flex-flow: column;
    margin: auto;
    
    margin: 1em;
}

#rando figcaption {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 300px;
    padding: 1em;
    font-size: x-large;
    color: midnightblue;
    font-weight: bolder;
}

.quot {
    background-color: black;
    padding: 32em;
}

.quot div span {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.quot h1 {
    font-size: 36px;
    font-style: italic;
    color: ghostwhite;
}

.quot span {
    font-weight: bolder;
    color: gold;
}

#cta {
    background-color: deepskyblue;
    color: ghostwhite;
    margin: 20em;
    padding: 4em 8em;
    border: black 3px solid;
    border-radius: .5em;
    display: flex;
    justify-content: space-evenly;
}

#cta h3,p {
    font-size: large;
}

#cta a {
    background-color: crimson;
    border: 2px ghostwhite solid;
    font-size: x-large;
    color: ghostwhite;
    border-radius: .5em;
    text-decoration: none;
    padding: .5em 1em;
    display: flex;
    justify-content: flex-end;
}

.soon {
    padding-top: 3em;
}

.soon h2 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding-bottom: 3em;
    color: ghostwhite;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 8em;
    padding-bottom: 5em;
    font-size: xx-large;
    font-weight: bolder;
    color: ghostwhite;
}

footer {
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    padding: 3em;
}